# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [1]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [2]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [3]:
#your code
resp = requests.get(url).content
soup = bs(resp,'lxml')
#soup

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

In [4]:
devs = [e.text for e in soup.find_all('h1')] #trae todos los h1

In [5]:
clean = [] 
"""el siguiente código sustituye saltos y le quita los espacios. Por último los appendea a la lista final"""


for i in range(1,len(devs),2):
    devs[i] = devs[i].replace('\n','')
    devs[i] = devs[i].strip()
    clean.append(devs[i])
    
clean

['Manfred Touron',
 'Jethro Kuan',
 'chriseth',
 'Hang Zhang',
 'Tom Payne',
 'Franck Nijhof',
 'Mariusz Nowak',
 'Sebastián Ramírez',
 'Bryan Phelps',
 'Stéphane Lepin',
 'Wille Marcel',
 'Arvid Norberg',
 'Oleg Nenashev',
 'Hadley Wickham',
 'Troy Morehouse',
 'Haz',
 'Martin Atkins',
 'hackerman',
 'Bryan Liles',
 'Daniel Imms',
 'David Tolnay',
 'Tomas Della Vedova',
 'Alex Gaynor',
 "Nick O'Leary",
 'Leonardo Uieda']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [6]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [7]:
resp = requests.get(url).content
soup = bs(resp,'lxml')
repos = [e.text for e in soup.find_all('h1')]

In [8]:
import re
cleanrepos = []
last = []


for i in range(1,len(repos)):
    repos[i] = repos[i].replace('\n','')
    repos[i] = repos[i].strip()
    cleanrepos.append(repos[i])
    
#se utiliza regex para sustituir los espacios con nada. 
for e in cleanrepos:
    e = re.sub(r"\s+","",e)
    last.append(e)
    
last

['rojter-tech/pluradl.py',
 'senguptaumd/Background-Matting',
 'kivy/kivy',
 'quantopian/zipline',
 'iperov/DeepFaceLab',
 'scikit-learn/scikit-learn',
 'swisskyrepo/PayloadsAllTheThings',
 'lyhue1991/eat_tensorflow2_in_30_days',
 'PyTorchLightning/pytorch-lightning',
 'Rapptz/discord.py',
 'pcomputo/Whole-Foods-Delivery-Slot',
 'd2l-ai/d2l-en',
 'alex04072000/ObstructionRemoval',
 'yenchenlin/nerf-pytorch',
 'xingyizhou/CenterTrack',
 'Azure/azure-cli',
 'CharlesPikachu/Games',
 'pyqtgraph/pyqtgraph',
 'thepanacealab/covid19_twitter',
 'qubvel/efficientnet',
 'covid-projections/covid-data-model',
 'Azure/azure-sdk-for-python',
 'tagnullde/OSCP',
 'CodeForPhilly/chime',
 'microsoft/dowhy']

#### Display all the image links from Walt Disney wikipedia page

In [9]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [10]:
resp = requests.get(url).content
soup = bs(resp,'lxml')
disney = [e for e in soup.find_all('img')]

In [11]:
len(disney)

35

In [12]:
imagenes = []
#se utiliza regex para encontrar todos los links que empiecen con src y terminen con jpg o png. Si encuentra el patrón, se apendea la url


for e in disney:
    ye = re.search(r"src=\"(.+[pPJj][nNPp][gG])\"",str(e))
    if ye:
        img = ye.group(1)
        imagenes.append(img)

imagenes

['//upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/20px-Cscr-featured.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/1/1b/Semi-protection-shackle.svg/20px-Semi-protection-shackle.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Newman_Laugh-O-Gram_%281921%29.webm/220px-seek%3D2-Newman_Laugh-O-Gram_%281921%29.webm.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/7/71/Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg/170px-Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Disney_Display_Case.JPG/170px-Disney_Display_Case.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/4/44/The_Walt_Disney_Company_Logo.svg/120px-The_Walt_Disney_Company_Logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/d/da/Animation_disc.svg/30px-Animation_disc.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/6/69/P_vip.svg/29px-P_vip.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/24px-Magic_Kingdom_castle.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/e/e7/Video-x-generic.svg/30px-Video-x-generic.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Flag_of_Los_Angeles_County%2C_California.svg/30px-Flag_of_Los_Angeles_County%2C_California.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Blank_television_set.svg/30px-Blank_television_set.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/30px-Flag_of_the_United_States.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/22px-Commons-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/25px-Wikiquote-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Wikidata-logo.svg/30px-Wikidata-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 '/static/images/wikimedia-button.png',
 '/static/images/poweredby_mediawiki_88x31.png']

In [13]:
from IPython.display import Image, display_html
from IPython.core.display import HTML

In [14]:
for i in imagenes:
    display(Image(url=i))

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [15]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [16]:
resp = requests.get(url).content
soup = bs(resp,'lxml')
links = soup.find_all('a')
type(links)

bs4.element.ResultSet

In [17]:
links1 = []

#se utiliza la función interna de beautiful soup para traer links. 
for link in links:
    links1.append(link.get('href'))

links1[:10]

[None,
 '#mw-head',
 '#p-search',
 'https://en.wiktionary.org/wiki/Python',
 'https://en.wiktionary.org/wiki/python',
 '#Snakes',
 '#Ancient_Greece',
 '#Media_and_entertainment',
 '#Computing',
 '#Engineering']

In [18]:
finalink = []
for link in links1:
    if re.search(r"/",str(link)): #si no hay un / en la string, no lo incluye en el listado
        finalink.append(link)
               
finalink[:10]

['https://en.wiktionary.org/wiki/Python',
 'https://en.wiktionary.org/wiki/python',
 '/w/index.php?title=Python&action=edit&section=1',
 '/wiki/Pythonidae',
 '/wiki/Python_(genus)',
 '/w/index.php?title=Python&action=edit&section=2',
 '/wiki/Python_(mythology)',
 '/wiki/Python_of_Aenus',
 '/wiki/Python_(painter)',
 '/wiki/Python_of_Byzantium']

#### Number of Titles that have changed in the United States Code since its last release point

In [19]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [20]:
resp = requests.get(url).content
soup = bs(resp,'lxml')
codes = soup.find_all('div',{'class': 'usctitlechanged'})

codes

[<div class="usctitlechanged" id="us/usc/t8">

           Title 8 - Aliens and Nationality

         </div>,
 <div class="usctitlechanged" id="us/usc/t22">

           Title 22 - Foreign Relations and Intercourse

         </div>,
 <div class="usctitlechanged" id="us/usc/t29">

           Title 29 - Labor

         </div>,
 <div class="usctitlechanged" id="us/usc/t42">

           Title 42 - The Public Health and Welfare

         </div>]

In [21]:
codes

[<div class="usctitlechanged" id="us/usc/t8">

           Title 8 - Aliens and Nationality

         </div>,
 <div class="usctitlechanged" id="us/usc/t22">

           Title 22 - Foreign Relations and Intercourse

         </div>,
 <div class="usctitlechanged" id="us/usc/t29">

           Title 29 - Labor

         </div>,
 <div class="usctitlechanged" id="us/usc/t42">

           Title 42 - The Public Health and Welfare

         </div>]

In [22]:
test = codes[0]
print(test)
print(type(test))

<div class="usctitlechanged" id="us/usc/t8">

          Title 8 - Aliens and Nationality

        </div>
<class 'bs4.element.Tag'>

In [23]:
test = codes[0].text
print(test)
print(type(test))

          Title 8 - Aliens and Nationality


<class 'str'>

In [24]:
test = codes[0].text.strip()
print(test)
print(type(test))

Title 8 - Aliens and Nationality
<class 'str'>

In [25]:
test = codes[0].text.strip().split('\n')
print(test)
print(type(test))

['Title 8 - Aliens and Nationality']
<class 'list'>

In [26]:
lista_titulos=[r.text.strip() for r in codes] #se quitan los espacios del text en cada fila. 
lista_titulos
print(lista_titulos,"\n")
print("Number of codes that have changed is:",len(lista_titulos))

['Title 8 - Aliens and Nationality', 'Title 22 - Foreign Relations and Intercourse', 'Title 29 - Labor', 'Title 42 - The Public Health and Welfare']

Number of codes that have changed is: 4

#### A Python list with the top ten FBI's Most Wanted names

In [27]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [28]:
resp = requests.get(url).content
soup = bs(resp,'lxml')
fbi = soup.find_all('h3',{'class': 'title'})

In [29]:
fbi

[<h3 class="title">
 <a href="https://www.fbi.gov/wanted/topten/alexis-flores">ALEXIS FLORES</a>
 </h3>,
 <h3 class="title">
 <a href="https://www.fbi.gov/wanted/topten/eugene-palmer">EUGENE PALMER</a>
 </h3>,
 <h3 class="title">
 <a href="https://www.fbi.gov/wanted/topten/santiago-mederos">SANTIAGO VILLALBA MEDEROS</a>
 </h3>,
 <h3 class="title">
 <a href="https://www.fbi.gov/wanted/topten/rafael-caro-quintero">RAFAEL CARO-QUINTERO</a>
 </h3>,
 <h3 class="title">
 <a href="https://www.fbi.gov/wanted/topten/robert-william-fisher">ROBERT WILLIAM FISHER</a>
 </h3>,
 <h3 class="title">
 <a href="https://www.fbi.gov/wanted/topten/bhadreshkumar-chetanbhai-patel">BHADRESHKUMAR CHETANBHAI PATEL</a>
 </h3>,
 <h3 class="title">
 <a href="https://www.fbi.gov/wanted/topten/alejandro-castillo">ALEJANDRO ROSALES CASTILLO</a>
 </h3>,
 <h3 class="title">
 <a href="https://www.fbi.gov/wanted/topten/arnoldo-jimenez">ARNOLDO JIMENEZ</a>
 </h3>,
 <h3 class="title">
 <a href="https://www.fbi.gov/wanted/topten/yaser-abdel-said">YASER ABDEL SAID</a>
 </h3>,
 <h3 class="title">
 <a href="https://www.fbi.gov/wanted/topten/jason-derek-brown">JASON DEREK BROWN</a>
 </h3>]

In [30]:
rows=[r.text.strip() for r in fbi] #trae el texto en una sola lista de cada fila sin espacios
rows

['ALEXIS FLORES',
 'EUGENE PALMER',
 'SANTIAGO VILLALBA MEDEROS',
 'RAFAEL CARO-QUINTERO',
 'ROBERT WILLIAM FISHER',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'ARNOLDO JIMENEZ',
 'YASER ABDEL SAID',
 'JASON DEREK BROWN']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [31]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [32]:
res=requests.get(url)

res.status_code

200

In [33]:
soup=bs(res.text.encode('utf-8'))

In [34]:
t=soup.select('#tbody tr')

m=t[0].select('td')

m

[<td class="tabev0"></td>,
 <td class="tabev0"></td>,
 <td class="tabev0"></td>,
 <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=846047">2020-04-08   03:27:32.1</a></b><i class="ago" id="ago0">06min ago</i></td>,
 <td class="tabev1">19.20 </td>,
 <td class="tabev2">N  </td>,
 <td class="tabev1">155.47 </td>,
 <td class="tabev2">W  </td>,
 <td class="tabev3">36</td>,
 <td class="tabev5" id="magtyp0">Md</td>,
 <td class="tabev2">2.6</td>,
 <td class="tb_region" id="reg0"> ISLAND OF HAWAII, HAWAII</td>,
 <td class="comment updatetimeno" id="upd0" style="text-align:right;">2020-04-08 03:31</td>]

In [35]:
earthquake={
    'date':m[3].find('a').text,
    'region':m[-2].text,
    'lat':m[4].text+m[5].text,
    'lng':m[6].text+m[7].text
}

In [36]:
earthquake

{'date': '2020-04-08\xa0\xa0\xa003:27:32.1',
 'region': '\xa0ISLAND OF HAWAII, HAWAII',
 'lat': '19.20\xa0N\xa0\xa0',
 'lng': '155.47\xa0W\xa0\xa0'}

In [37]:
import unidecode

earthquake={k:unidecode.unidecode(v).strip() for k,v in earthquake.items()}

In [38]:
earthquake

{'date': '2020-04-08   03:27:32.1',
 'region': 'ISLAND OF HAWAII, HAWAII',
 'lat': '19.20 N',
 'lng': '155.47 W'}

In [39]:
df=pd.DataFrame([earthquake])
df

                      date                    region      lat       lng
0  2020-04-08   03:27:32.1  ISLAND OF HAWAII, HAWAII  19.20 N  155.47 W

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [40]:
url = 'https://twitter.com/CoreyTaylorRock'

In [41]:
resp = requests.get(url).content
soup = bs(resp,'lxml')
corey = soup.find('div')

In [42]:
len(corey)

7

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [43]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [44]:
#your code

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [45]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [46]:
"""resp = requests.get(url).content
soup = bs(resp,'lxml')
strong = soup.find_all('div',{'class':'central-featured'})"""

"resp = requests.get(url).content\nsoup = bs(resp,'lxml')\nstrong = soup.find_all('div',{'class':'central-featured'})"

In [47]:
resp = requests.get(url).content
soup = bs(resp,'lxml')
strong = soup.find_all('strong')

In [48]:
type(strong)

bs4.element.ResultSet

In [49]:
l1 = []

for i in range(1,len(strong)-1):
    l1.append(strong[i].text)
    
l1

['English',
 'Español',
 '日本語',
 'Deutsch',
 'Français',
 'Русский',
 'Italiano',
 '中文',
 'Português',
 'Polski']

In [50]:
small = soup.find_all('small')
small

[<small><bdi dir="ltr">6 050 000+</bdi> <span>articles</span></small>,
 <small><bdi dir="ltr">1 588 000+</bdi> <span>artículos</span></small>,
 <small><bdi dir="ltr">1 198 000+</bdi> <span>記事</span></small>,
 <small><bdi dir="ltr">2 416 000+</bdi> <span>Artikel</span></small>,
 <small><bdi dir="ltr">2 197 000+</bdi> <span>articles</span></small>,
 <small><bdi dir="ltr">1 611 000+</bdi> <span>статей</span></small>,
 <small><bdi dir="ltr">1 595 000+</bdi> <span>voci</span></small>,
 <small><bdi dir="ltr">1 109 000+</bdi> <span data-convert-hans="条目" id="zh_art">條目</span></small>,
 <small><bdi dir="ltr">1 027 000+</bdi> <span>artigos</span></small>,
 <small><bdi dir="ltr">1 399 000+</bdi> <span>haseł</span></small>,
 <small class="jsl10n" data-jsl10n="license">This page is available under the <a href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike License</a></small>,
 <small class="jsl10n" data-jsl10n="terms"><a href="//meta.wikimedia.org/wiki/Terms_of_Use">Terms of Use</a></small>,
 <small class="jsl10n" data-jsl10n="Privacy Policy"><a href="//meta.wikimedia.org/wiki/Privacy_policy">Privacy Policy</a></small>]

In [51]:
l2 = []

for i in range(len(small)-3):
    l2.append(small[i].text)
    
l2

['6\xa0050\xa0000+ articles',
 '1\xa0588\xa0000+ artículos',
 '1\xa0198\xa0000+ 記事',
 '2\xa0416\xa0000+ Artikel',
 '2\xa0197\xa0000+ articles',
 '1\xa0611\xa0000+ статей',
 '1\xa0595\xa0000+ voci',
 '1\xa0109\xa0000+ 條目',
 '1\xa0027\xa0000+ artigos',
 '1\xa0399\xa0000+ haseł']

In [52]:
import unidecode
l3 = []
for x in l2:
    x = unidecode.unidecode(x)
    l3.append(x)
    
l3

['6 050 000+ articles',
 '1 588 000+ articulos',
 '1 198 000+ Ji Shi ',
 '2 416 000+ Artikel',
 '2 197 000+ articles',
 '1 611 000+ statei',
 '1 595 000+ voci',
 '1 109 000+ Tiao Mu ',
 '1 027 000+ artigos',
 '1 399 000+ hasel']

In [53]:
df = pd.DataFrame({"languajes":l1,"articles":l3})
df

   languajes              articles
0    English   6 050 000+ articles
1    Español  1 588 000+ articulos
2        日本語    1 198 000+ Ji Shi
3    Deutsch    2 416 000+ Artikel
4   Français   2 197 000+ articles
5    Русский     1 611 000+ statei
6   Italiano       1 595 000+ voci
7         中文   1 109 000+ Tiao Mu
8  Português    1 027 000+ artigos
9     Polski      1 399 000+ hasel

#### A list with the different kind of datasets available in data.gov.uk

In [54]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [55]:
resp = requests.get(url).content
soup = bs(resp,'lxml')
uk = soup.find_all('h2')

In [56]:
uk

[<h2><a href="/search?filters%5Btopic%5D=Business+and+economy">Business and economy</a></h2>,
 <h2><a href="/search?filters%5Btopic%5D=Crime+and+justice">Crime and justice</a></h2>,
 <h2><a href="/search?filters%5Btopic%5D=Defence">Defence</a></h2>,
 <h2><a href="/search?filters%5Btopic%5D=Education">Education</a></h2>,
 <h2><a href="/search?filters%5Btopic%5D=Environment">Environment</a></h2>,
 <h2><a href="/search?filters%5Btopic%5D=Government">Government</a></h2>,
 <h2><a href="/search?filters%5Btopic%5D=Government+spending">Government spending</a></h2>,
 <h2><a href="/search?filters%5Btopic%5D=Health">Health</a></h2>,
 <h2><a href="/search?filters%5Btopic%5D=Mapping">Mapping</a></h2>,
 <h2><a href="/search?filters%5Btopic%5D=Society">Society</a></h2>,
 <h2><a href="/search?filters%5Btopic%5D=Towns+and+cities">Towns and cities</a></h2>,
 <h2><a href="/search?filters%5Btopic%5D=Transport">Transport</a></h2>]

In [57]:
ukd = []
for e in uk:
    ukd.append(e.text)
    
ukd

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [58]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [59]:
resp = requests.get(url).content
soup = bs(resp,'lxml')
native = soup.find_all('table')

In [60]:
native[2]

<table class="wikitable sortable">
<caption>Top languages by population per <i>Nationalencyklopedin</i>
</caption>
<tbody><tr>
<th>Rank
</th>
<th>Language
</th>
<th data-sort-type="number">Native<br/>speakers<br/>in millions<br/>2007 (2010)
</th>
<th>Percentage<br/>of world<br/>population<br/>(2007)
</th></tr>
<tr>
<td>1</td>
<td><b><a href="/wiki/Mandarin_Chinese" title="Mandarin Chinese">Mandarin</a></b> (entire branch)</td>
<td>935 (955)</td>
<td>14.1%
</td></tr>
<tr>
<td>2</td>
<td><b><a href="/wiki/Spanish_language" title="Spanish language">Spanish</a></b></td>
<td>390 (405)</td>
<td>5.85%
</td></tr>
<tr>
<td>3</td>
<td><b><a href="/wiki/English_language" title="English language">English</a></b></td>
<td>365 (360)</td>
<td>5.52%
</td></tr>
<tr>
<td>4</td>
<td><b><a class="mw-redirect" href="/wiki/Hindi_language" title="Hindi language">Hindi</a></b><sup class="reference" id="cite_ref-13"><a href="#cite_note-13">[a]</a></sup></td>
<td>295 (310)</td>
<td>4.46%
</td></tr>
<tr>
<td>5</td>
<td><b><a class="mw-redirect" href="/wiki/Arabic_language" title="Arabic language">Arabic</a></b></td>
<td>280 (295)</td>
<td>4.23%
</td></tr>
<tr>
<td>6</td>
<td><b><a href="/wiki/Portuguese_language" title="Portuguese language">Portuguese</a></b></td>
<td>205 (215)</td>
<td>3.08%
</td></tr>
<tr>
<td>7</td>
<td><b><a href="/wiki/Bengali_language" title="Bengali language">Bengali</a></b></td>
<td>200 (205)</td>
<td>3.05%
</td></tr>
<tr>
<td>8</td>
<td><b><a href="/wiki/Russian_language" title="Russian language">Russian</a></b></td>
<td>160 (155)</td>
<td>2.42%
</td></tr>
<tr>
<td>9</td>
<td><b><a href="/wiki/Japanese_language" title="Japanese language">Japanese</a></b></td>
<td>125 (125)</td>
<td>1.92%
</td></tr>
<tr>
<td>10</td>
<td><b><a href="/wiki/Punjabi_language" title="Punjabi language">Punjabi</a></b></td>
<td>95 (100)</td>
<td>1.44%
</td></tr>
<tr>
<td>11</td>
<td><b><a href="/wiki/German_language" title="German language">German</a></b></td>
<td>92 (95)</td>
<td>1.39%
</td></tr>
<tr>
<td>12</td>
<td><b><a href="/wiki/Javanese_language" title="Javanese language">Javanese</a></b></td>
<td>82</td>
<td>1.25%
</td></tr>
<tr>
<td>13</td>
<td><b><a href="/wiki/Wu_Chinese" title="Wu Chinese">Wu</a></b> (inc. <a href="/wiki/Shanghainese" title="Shanghainese">Shanghainese</a>)</td>
<td>80</td>
<td>1.20%
</td></tr>
<tr>
<td>14</td>
<td><b><a href="/wiki/Malay_language" title="Malay language">Malay</a></b> (inc. <a href="/wiki/Indonesian_language" title="Indonesian language">Indonesian</a> and <a href="/wiki/Malaysian_language" title="Malaysian language">Malaysian</a>)</td>
<td>77</td>
<td>1.16%
</td></tr>
<tr>
<td>15</td>
<td><b><a href="/wiki/Telugu_language" title="Telugu language">Telugu</a></b></td>
<td>76</td>
<td>1.15%
</td></tr>
<tr>
<td>16</td>
<td><b><a href="/wiki/Vietnamese_language" title="Vietnamese language">Vietnamese</a></b></td>
<td>76</td>
<td>1.14%
</td></tr>
<tr>
<td>17</td>
<td><b><a href="/wiki/Korean_language" title="Korean language">Korean</a></b></td>
<td>76</td>
<td>1.14%
</td></tr>
<tr>
<td>18</td>
<td><b><a href="/wiki/French_language" title="French language">French</a></b></td>
<td>75</td>
<td>1.12%
</td></tr>
<tr>
<td>19</td>
<td><b><a href="/wiki/Marathi_language" title="Marathi language">Marathi</a></b></td>
<td>73</td>
<td>1.10%
</td></tr>
<tr>
<td>20</td>
<td><b><a href="/wiki/Tamil_language" title="Tamil language">Tamil</a></b></td>
<td>70</td>
<td>1.06%
</td></tr>
<tr>
<td>21</td>
<td><b><a href="/wiki/Urdu" title="Urdu">Urdu</a></b></td>
<td>66</td>
<td>0.99%
</td></tr>
<tr>
<td>22</td>
<td><b><a href="/wiki/Turkish_language" title="Turkish language">Turkish</a></b></td>
<td>63</td>
<td>0.95%
</td></tr>
<tr>
<td>23</td>
<td><b><a href="/wiki/Italian_language" title="Italian language">Italian</a></b></td>
<td>59</td>
<td>0.90%
</td></tr>
<tr>
<td>24</td>
<td><b><a href="/wiki/Yue_Chinese" title="Yue Chinese">Yue</a></b> (inc. <a href="/wiki/Cantonese" title="Cantonese">Cantonese</a>)</td>
<td>59</td>
<td>0.89%
</td></tr>
<tr>
<td>25</td>
<td><b><a href="/wiki/Thai_language" title="Thai language">Thai</a></b></td>
<td>56</td>
<td>0.85%
</td></tr>
<tr>
<td>26</td>
<td><b><a href="/wiki/Gujarati_language" title="Gujarati language">Gujarati</a></b></td>
<td>49</td>
<td>0.74%
</td></tr>
<tr>
<td>27</td>
<td><b><a href="/wiki/Jin_Chinese" title="Jin Chinese">Jin</a></b></td>
<td>48</td>
<td>0.72%
</td></tr>
<tr>
<td>28</td>
<td><b><a href="/wiki/Southern_Min" title="Southern Min">Southern Min</a></b> (inc. <a class="mw-redirect" href="/wiki/Hokkien_language" title="Hokkien language">Hokkien</a> and <a class="mw-redirect" href="/wiki/Teochew_language" title="Teochew language">Teochew</a>)</td>
<td>47</td>
<td>0.71%
</td></tr>
<tr>
<td>29</td>
<td><b><a href="/wiki/Persian_language" title="Persian language">Persian</a></b></td>
<td>45</td>
<td>0.68%
</td></tr>
<tr>
<td>30</td>
<td><b><a href="/wiki/Polish_language" title="Polish language">Polish</a></b></td>
<td>40</td>
<td>0.61%
</td></tr>
<tr>
<td>31</td>
<td><b><a class="mw-redirect" href="/wiki/Pashto_language" title="Pashto language">Pashto</a></b></td>
<td>39</td>
<td>0.58%
</td></tr>
<tr>
<td>32</td>
<td><b><a class="mw-redirect" href="/wiki/Kannada_language" title="Kannada language">Kannada</a></b></td>
<td>38</td>
<td>0.58%
</td></tr>
<tr>
<td>33</td>
<td><b><a href="/wiki/Xiang_Chinese" title="Xiang Chinese">Xiang</a></b></td>
<td>38</td>
<td>0.58%
</td></tr>
<tr>
<td>34</td>
<td><b><a class="mw-redirect" href="/wiki/Malayalam_language" title="Malayalam language">Malayalam</a></b></td>
<td>38</td>
<td>0.57%
</td></tr>
<tr>
<td>35</td>
<td><b><a href="/wiki/Sundanese_language" title="Sundanese language">Sundanese</a></b></td>
<td>38</td>
<td>0.57%
</td></tr>
<tr>
<td>36</td>
<td><b><a href="/wiki/Hausa_language" title="Hausa language">Hausa</a></b></td>
<td>34</td>
<td>0.52%
</td></tr>
<tr>
<td>37</td>
<td><b><a href="/wiki/Odia_language" title="Odia language">Odia</a></b> (Oriya)</td>
<td>33</td>
<td>0.50%
</td></tr>
<tr>
<td>38</td>
<td><b><a href="/wiki/Burmese_language" title="Burmese language">Burmese</a></b></td>
<td>33</td>
<td>0.50%
</td></tr>
<tr>
<td>39</td>
<td><b><a href="/wiki/Hakka_Chinese" title="Hakka Chinese">Hakka</a></b></td>
<td>31</td>
<td>0.46%
</td></tr>
<tr>
<td>40</td>
<td><b><a href="/wiki/Ukrainian_language" title="Ukrainian language">Ukrainian</a></b></td>
<td>30</td>
<td>0.46%
</td></tr>
<tr>
<td>41</td>
<td><b><a href="/wiki/Bhojpuri_language" title="Bhojpuri language">Bhojpuri</a></b></td>
<td>29<sup class="reference" id="cite_ref-Hindi_14-0"><a href="#cite_note-Hindi-14">[b]</a></sup></td>
<td>0.43%
</td></tr>
<tr>
<td>42</td>
<td><b><a href="/wiki/Tagalog_language" title="Tagalog language">Tagalog</a></b> (<a href="/wiki/Filipino_language" title="Filipino language">Filipino</a>)</td>
<td>28</td>
<td>0.42%
</td></tr>
<tr>
<td>43</td>
<td><b><a href="/wiki/Yoruba_language" title="Yoruba language">Yoruba</a></b></td>
<td>28</td>
<td>0.42%
</td></tr>
<tr>
<td>44</td>
<td><b><a href="/wiki/Maithili_language" title="Maithili language">Maithili</a></b></td>
<td>27<sup class="reference" id="cite_ref-Hindi_14-1"><a href="#cite_note-Hindi-14">[b]</a></sup></td>
<td>0.41%
</td></tr>
<tr>
<td>45</td>
<td><b><a href="/wiki/Uzbek_language" title="Uzbek language">Uzbek</a></b></td>
<td>26</td>
<td>0.39%
</td></tr>
<tr>
<td>46</td>
<td><b><a href="/wiki/Sindhi_language" title="Sindhi language">Sindhi</a></b></td>
<td>26</td>
<td>0.39%
</td></tr>
<tr>
<td>47</td>
<td><b><a class="mw-redirect" href="/wiki/Amharic_language" title="Amharic language">Amharic</a></b></td>
<td>25</td>
<td>0.37%
</td></tr>
<tr>
<td>48</td>
<td><b><a href="/wiki/Fula_language" title="Fula language">Fula</a></b></td>
<td>24</td>
<td>0.37%
</td></tr>
<tr>
<td>49</td>
<td><b><a href="/wiki/Romanian_language" title="Romanian language">Romanian</a></b></td>
<td>24</td>
<td>0.37%
</td></tr>
<tr>
<td>50</td>
<td><b><a href="/wiki/Oromo_language" title="Oromo language">Oromo</a></b></td>
<td>24</td>
<td>0.36%
</td></tr>
<tr>
<td>51</td>
<td><b><a href="/wiki/Igbo_language" title="Igbo language">Igbo</a></b></td>
<td>24</td>
<td>0.36%
</td></tr>
<tr>
<td>52</td>
<td><b><a href="/wiki/Azerbaijani_language" title="Azerbaijani language">Azerbaijani</a></b></td>
<td>23</td>
<td>0.34%
</td></tr>
<tr>
<td>53</td>
<td><b><a class="mw-redirect" href="/wiki/Awadhi" title="Awadhi">Awadhi</a></b></td>
<td>22<sup class="reference" id="cite_ref-Hindi_14-2"><a href="#cite_note-Hindi-14">[b]</a></sup></td>
<td>0.33%
</td></tr>
<tr>
<td>54</td>
<td><b><a href="/wiki/Gan_Chinese" title="Gan Chinese">Gan</a></b></td>
<td>22</td>
<td>0.33%
</td></tr>
<tr>
<td>55</td>
<td><b><a href="/wiki/Cebuano_language" title="Cebuano language">Cebuano</a></b> (Visayan)</td>
<td>21</td>
<td>0.32%
</td></tr>
<tr>
<td>56</td>
<td><b><a href="/wiki/Dutch_language" title="Dutch language">Dutch</a></b></td>
<td>21</td>
<td>0.32%
</td></tr>
<tr>
<td>57</td>
<td><b><a class="mw-redirect" href="/wiki/Kurdish_language" title="Kurdish language">Kurdish</a></b></td>
<td>21</td>
<td>0.31%
</td></tr>
<tr>
<td>58</td>
<td><b><a href="/wiki/Serbo-Croatian" title="Serbo-Croatian">Serbo-Croatian</a></b></td>
<td>19</td>
<td>0.28%
</td></tr>
<tr>
<td>59</td>
<td><b><a href="/wiki/Malagasy_language" title="Malagasy language">Malagasy</a></b></td>
<td>18</td>
<td>0.28%
</td></tr>
<tr>
<td>60</td>
<td><b><a href="/wiki/Saraiki_language" title="Saraiki language">Saraiki</a></b></td>
<td>17<sup class="reference" id="cite_ref-15"><a href="#cite_note-15">[c]</a></sup></td>
<td>0.26%
</td></tr>
<tr>
<td>61</td>
<td><b><a href="/wiki/Nepali_language" title="Nepali language">Nepali</a></b></td>
<td>17</td>
<td>0.25%
</td></tr>
<tr>
<td>62</td>
<td><b><a href="/wiki/Sinhala_language" title="Sinhala language">Sinhala</a></b></td>
<td>16</td>
<td>0.25%
</td></tr>
<tr>
<td>63</td>
<td><b><a href="/wiki/Chittagonian_language" title="Chittagonian language">Chittagonian</a></b></td>
<td>16</td>
<td>0.24%
</td></tr>
<tr>
<td>64</td>
<td><b><a href="/wiki/Zhuang_languages" title="Zhuang languages">Zhuang</a></b></td>
<td>16</td>
<td>0.24%
</td></tr>
<tr>
<td>65</td>
<td><b><a href="/wiki/Khmer_language" title="Khmer language">Khmer</a></b></td>
<td>16</td>
<td>0.24%
</td></tr>
<tr>
<td>66</td>
<td><b><a href="/wiki/Turkmen_language" title="Turkmen language">Turkmen</a></b></td>
<td>16</td>
<td>0.24%
</td></tr>
<tr>
<td>67</td>
<td><b><a href="/wiki/Assamese_language" title="Assamese language">Assamese</a></b></td>
<td>15</td>
<td>0.23%
</td></tr>
<tr>
<td>68</td>
<td><b><a href="/wiki/Madurese_language" title="Madurese language">Madurese</a></b></td>
<td>15</td>
<td>0.23%
</td></tr>
<tr>
<td>69</td>
<td><b><a href="/wiki/Somali_language" title="Somali language">Somali</a></b></td>
<td>15</td>
<td>0.22%
</td></tr>
<tr>
<td>70</td>
<td><b><a href="/wiki/Marwari_language" title="Marwari language">Marwari</a></b></td>
<td>14<sup class="reference" id="cite_ref-Hindi_14-3"><a href="#cite_note-Hindi-14">[b]</a></sup></td>
<td>0.21%
</td></tr>
<tr>
<td>71</td>
<td><b><a href="/wiki/Magahi_language" title="Magahi language">Magahi</a></b></td>
<td>14<sup class="reference" id="cite_ref-Hindi_14-4"><a href="#cite_note-Hindi-14">[b]</a></sup></td>
<td>0.21%
</td></tr>
<tr>
<td>72</td>
<td><b><a href="/wiki/Haryanvi_language" title="Haryanvi language">Haryanvi</a></b></td>
<td>14<sup class="reference" id="cite_ref-Hindi_14-5"><a href="#cite_note-Hindi-14">[b]</a></sup></td>
<td>0.21%
</td></tr>
<tr>
<td>73</td>
<td><b><a href="/wiki/Hungarian_language" title="Hungarian language">Hungarian</a></b></td>
<td>13</td>
<td>0.19%
</td></tr>
<tr>
<td>74</td>
<td><b><a href="/wiki/Chhattisgarhi_language" title="Chhattisgarhi language">Chhattisgarhi</a></b></td>
<td>12<sup class="reference" id="cite_ref-Hindi_14-6"><a href="#cite_note-Hindi-14">[b]</a></sup></td>
<td>0.19%
</td></tr>
<tr>
<td>75</td>
<td><b><a href="/wiki/Greek_language" title="Greek language">Greek</a></b></td>
<td>12</td>
<td>0.18%
</td></tr>
<tr>
<td>76</td>
<td><b><a href="/wiki/Chewa_language" title="Chewa language">Chewa</a></b></td>
<td>12</td>
<td>0.17%
</td></tr>
<tr>
<td>77</td>
<td><b><a class="mw-redirect" href="/wiki/Deccan_language" title="Deccan language">Deccan</a></b></td>
<td>11</td>
<td>0.17%
</td></tr>
<tr>
<td>78</td>
<td><b><a href="/wiki/Akan_language" title="Akan language">Akan</a></b></td>
<td>11</td>
<td>0.17%
</td></tr>
<tr>
<td>79</td>
<td><b><a href="/wiki/Kazakh_language" title="Kazakh language">Kazakh</a></b></td>
<td>11</td>
<td>0.17%
</td></tr>
<tr>
<td>80</td>
<td><b><a href="/wiki/Northern_Min" title="Northern Min">Northern Min</a></b><sup class="noprint Inline-Template" style="white-space:nowrap;">[<i><a class="mw-redirect" href="/wiki/Wikipedia:Disputed_statement" title="Wikipedia:Disputed statement"><span title="This claim has reliable sources with contradicting facts (January 2017)">disputed</span></a> <span class="metadata"> – <a href="/wiki/Talk:List_of_languages_by_number_of_native_speakers#Northern_Min" title="Talk:List of languages by number of native speakers">discuss</a></span></i>]</sup></td>
<td>10.9</td>
<td>0.16%
</td></tr>
<tr>
<td>81</td>
<td><b><a href="/wiki/Sylheti_language" title="Sylheti language">Sylheti</a></b></td>
<td>10.7</td>
<td>0.16%
</td></tr>
<tr>
<td>82</td>
<td><b><a href="/wiki/Zulu_language" title="Zulu language">Zulu</a></b></td>
<td>10.4</td>
<td>0.16%
</td></tr>
<tr>
<td>83</td>
<td><b><a href="/wiki/Czech_language" title="Czech language">Czech</a></b></td>
<td>10.0</td>
<td>0.15%
</td></tr>
<tr>
<td>84</td>
<td><b><a href="/wiki/Kinyarwanda" title="Kinyarwanda">Kinyarwanda</a></b></td>
<td>9.8</td>
<td>0.15%
</td></tr>
<tr>
<td>85</td>
<td><b><a href="/wiki/Dhundari_language" title="Dhundari language">Dhundhari</a></b></td>
<td>9.6<sup class="reference" id="cite_ref-Hindi_14-7"><a href="#cite_note-Hindi-14">[b]</a></sup></td>
<td>0.15%
</td></tr>
<tr>
<td>86</td>
<td><b><a href="/wiki/Haitian_Creole" title="Haitian Creole">Haitian Creole</a></b></td>
<td>9.6</td>
<td>0.15%
</td></tr>
<tr>
<td>87</td>
<td><b><a href="/wiki/Eastern_Min" title="Eastern Min">Eastern Min</a></b> (inc. <a href="/wiki/Fuzhou_dialect" title="Fuzhou dialect">Fuzhou dialect</a>)</td>
<td>9.5</td>
<td>0.14%
</td></tr>
<tr>
<td>88</td>
<td><b><a href="/wiki/Ilocano_language" title="Ilocano language">Ilocano</a></b></td>
<td>9.1</td>
<td>0.14%
</td></tr>
<tr>
<td>89</td>
<td><b><a class="mw-redirect" href="/wiki/Quechua_languages" title="Quechua languages">Quechua</a></b></td>
<td>8.9</td>
<td>0.13%
</td></tr>
<tr>
<td>90</td>
<td><b><a href="/wiki/Kirundi" title="Kirundi">Kirundi</a></b></td>
<td>8.8</td>
<td>0.13%
</td></tr>
<tr>
<td>91</td>
<td><b><a href="/wiki/Swedish_language" title="Swedish language">Swedish</a></b></td>
<td>8.7</td>
<td>0.13%
</td></tr>
<tr>
<td>92</td>
<td><b><a href="/wiki/Hmong_language" title="Hmong language">Hmong</a></b></td>
<td>8.4</td>
<td>0.13%
</td></tr>
<tr>
<td>93</td>
<td><b><a href="/wiki/Shona_language" title="Shona language">Shona</a></b></td>
<td>8.3</td>
<td>0.13%
</td></tr>
<tr>
<td>94</td>
<td><b><a href="/wiki/Uyghur_language" title="Uyghur language">Uyghur</a></b></td>
<td>8.2</td>
<td>0.12%
</td></tr>
<tr>
<td>95</td>
<td><b><a href="/wiki/Hiligaynon_language" title="Hiligaynon language">Hiligaynon/Ilonggo</a></b> (Visayan)</td>
<td>8.2</td>
<td>0.12%
</td></tr>
<tr>
<td>96</td>
<td><b><a href="/wiki/Mossi_language" title="Mossi language">Mossi</a></b></td>
<td>7.6</td>
<td>0.11%
</td></tr>
<tr>
<td>97</td>
<td><b><a href="/wiki/Xhosa_language" title="Xhosa language">Xhosa</a></b></td>
<td>7.6</td>
<td>0.11%
</td></tr>
<tr>
<td>98</td>
<td><b><a href="/wiki/Belarusian_language" title="Belarusian language">Belarusian</a></b></td>
<td>7.6<sup class="reference" id="cite_ref-16"><a href="#cite_note-16">[d]</a></sup></td>
<td>0.11%
</td></tr>
<tr>
<td>99</td>
<td><b><a href="/wiki/Balochi_language" title="Balochi language">Balochi</a></b></td>
<td>7.6</td>
<td>0.11%
</td></tr>
<tr>
<td>100</td>
<td><b><a href="/wiki/Konkani_language" title="Konkani language">Konkani</a></b></td>
<td>7.4</td>
<td>0.11%
</td></tr>
<tr>
<th>Total
</th>
<td></td>
<td><b>5,610</b></td>
<td><b>85%</b>
</td></tr></tbody></table>

In [61]:
df = pd.read_html(resp)

In [62]:
df[0].head(10)

,Rank,Language,Speakers(millions),% of the World population (March 2019)[8],Language familyBranch
0,1,Mandarin Chinese,918.0,11.922,Sino-TibetanSinitic
1,2,Spanish,480.0,5.994,Indo-EuropeanRomance
2,3,English,379.0,4.922,Indo-EuropeanGermanic
3,4,Hindi (Sanskritised Hindustani)[9],341.0,4.429,Indo-EuropeanIndo-Aryan
4,5,Bengali,228.0,2.961,Indo-EuropeanIndo-Aryan
5,6,Portuguese,221.0,2.870,Indo-EuropeanRomance
6,7,Russian,154.0,2.000,Indo-EuropeanBalto-Slavic
7,8,Japanese,128.0,1.662,JaponicJapanese
8,9,Western Punjabi[10],92.7,1.204,Indo-EuropeanIndo-Aryan
9,10,Marathi,83.1,1.079,Indo-EuropeanIndo-Aryan

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [63]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [64]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [65]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [66]:
resp = requests.get(url).content
soup = bs(resp,'lxml')

In [67]:
df = pd.read_html(resp)
movies = df[0]

In [68]:
movies

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4
0,NaN,1. Sueños de libertad (1994),9.2,12345678910 NOT YET RELEASED Seen,NaN
1,NaN,2. El Padrino (1972),9.1,12345678910 NOT YET RELEASED Seen,NaN
2,NaN,3. El padrino 2a parte (1974),9.0,12345678910 NOT YET RELEASED Seen,NaN
3,NaN,4. Batman: El Caballero de la Noche (2008),9.0,12345678910 NOT YET RELEASED Seen,NaN
4,NaN,5. 12 hombres en pugna (1957),8.9,12345678910 NOT YET RELEASED Seen,NaN
...,...,...,...,...,...
245,NaN,246. PK (2014),8.0,12345678910 NOT YET RELEASED Seen,NaN
246,NaN,247. Aladdín (1992),8.0,12345678910 NOT YET RELEASED Seen,NaN
247,NaN,248. Alma negra (1949),8.0,12345678910 NOT YET RELEASED Seen,NaN
248,NaN,249. Trono de sangre (1957),8.0,12345678910 NOT YET RELEASED Seen,NaN
249,NaN,250. Sueño de invierno (2014),8.0,12345678910 NOT YET RELEASED Seen,NaN

In [69]:
movies.columns

Index(['Unnamed: 0', 'Rank & Title', 'IMDb Rating', 'Your Rating',
       'Unnamed: 4'],
      dtype='object')

In [70]:
movies = movies.drop(['Unnamed: 0','Your Rating','Unnamed: 4'], axis = 1)

In [71]:
def año(x):
    ye = re.search(r"\((\d+)\)",x)
    if ye:
        x = ye.group(1)
        return x

def index(x):
    ye = re.search(r"^(\d+)\.",x)
    if ye:
        x = ye.group(1)
        return x
    

    
        
movies['relase_date'] = movies['Rank & Title'].apply(año)
movies['no.'] = movies['Rank & Title'].apply(index)

In [72]:
movies

,Rank & Title,IMDb Rating,relase_date,no.
0,1. Sueños de libertad (1994),9.2,1994,1
1,2. El Padrino (1972),9.1,1972,2
2,3. El padrino 2a parte (1974),9.0,1974,3
3,4. Batman: El Caballero de la Noche (2008),9.0,2008,4
4,5. 12 hombres en pugna (1957),8.9,1957,5
...,...,...,...,...
245,246. PK (2014),8.0,2014,246
246,247. Aladdín (1992),8.0,1992,247
247,248. Alma negra (1949),8.0,1949,248
248,249. Trono de sangre (1957),8.0,1957,249
249,250. Sueño de invierno (2014),8.0,2014,250

In [73]:
movies['Rank & Title'] = movies['Rank & Title'].str.replace(r'\((\d+)\)', '')
movies

                               Rank & Title  IMDb Rating relase_date  no.
0                  1.  Sueños de libertad            9.2        1994    1
1                          2.  El Padrino            9.1        1972    2
2                 3.  El padrino 2a parte            9.0        1974    3
3    4.  Batman: El Caballero de la Noche            9.0        2008    4
4                 5.  12 hombres en pugna            8.9        1957    5
..                                      ...          ...         ...  ...
245                              246.  PK            8.0        2014  246
246                         247.  Aladdín            8.0        1992  247
247                      248.  Alma negra            8.0        1949  248
248                 249.  Trono de sangre            8.0        1957  249
249               250.  Sueño de invierno            8.0        2014  250

[250 rows x 4 columns]

In [74]:
movies['Rank & Title'] = movies['Rank & Title'].str.replace(r'^\d+\.', '')
movies

                             Rank & Title  IMDb Rating relase_date  no.
0                    Sueños de libertad            9.2        1994    1
1                            El Padrino            9.1        1972    2
2                   El padrino 2a parte            9.0        1974    3
3      Batman: El Caballero de la Noche            9.0        2008    4
4                   12 hombres en pugna            8.9        1957    5
..                                    ...          ...         ...  ...
245                                  PK            8.0        2014  246
246                             Aladdín            8.0        1992  247
247                          Alma negra            8.0        1949  248
248                     Trono de sangre            8.0        1957  249
249                   Sueño de invierno            8.0        2014  250

[250 rows x 4 columns]

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [75]:
movies.head(10).style.hide_index()

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [76]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

Enter the city:x

In [77]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [183]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [184]:
resp = requests.get(url).content
soup = bs(resp,'lxml')
books = soup.find_all('article')

In [185]:
type(books[0].text)

str

In [186]:
libro = []
final=[]
for i in range(len(books)):
    lb = book[i].text.replace("\n","")
    lb = book[i].text.strip().split("\n")
    libro.append(lb)


for e in libro:
    tmp=[]
    for st in e:
        st = st.strip()
        if st!='':
            tmp.append(st)
    final.append(tmp)
    

libreria = pd.DataFrame(final,columns = ['libro','precio','stock','añadir'])

In [187]:
libreria = libreria.drop(['añadir'],axis=1)

In [189]:
libreria.head(10).style.hide_index()